<!-- Seção de Investimento no topo -->
<div class="investment-container">
  <div class="text-image">
    <p>
      O futebol é um dos esportes mais populares e 
      praticados do mundo, com milhões de fãs e atletas
      espalhados por todos os continentes. Jogado entre 
      duas equipes de onze jogadores cada, o objetivo
      principal é marcar gols no adversário.
    </p>
  </div>
  <div class="investment-box">
    <p class="investment">INVESTIMENTO</p>
    <p class="minimum">mínimo <span>R$30,00</span></p>
    <small>*custo mínimo de forma autônoma.</small>
  </div>
</div>


<!-- Navbar -->
<div class="container">
  <nav class="navbar">
    <a href="#" class="nav-item">PRATIQUE SEU HOBBY!</a>
    <a href="#" class="nav-item active">ORIGEM</a>
    <a href="#" class="nav-item">FUNDAMENTOS</a>
    <a href="#" class="nav-item">BENEFÍCIOS</a>
  </nav>

  <!-- Conteúdo Principal -->
  <div class="content">
    <!-- Parágrafo inicial -->
    <div class="container-p1">
      <p class="p1">
        O futebol tem uma história tão emocionante quanto um gol nos acréscimos! Tudo começou na China, por volta de 2.600 a.C., quando o "Ts'u Tsü" fazia tribos celebrarem vitórias de um jeito bem peculiar: chutando a cabeça dos inimigos derrotados.
      </p>
    </div>
    

  <!-- Seção de imagem e texto -->
  <div class="content-container">
    <div class="image-text-section">
      <img src="images/origem.png" alt="Imagem história futebol" class="image">
      <p>
        O futebol tem uma história tão emocionante quanto um gol nos acréscimos! Tudo começou na China, por volta de 2.600 a.C., quando o "Ts'u Tsü" fazia tribos celebrarem vitórias de um jeito bem peculiar: chutando a cabeça dos inimigos derrotados.
      </p>
    </div>
  
    <div class="image-text-section">
      <p>
        No Brasil, o nome Charles Miller é sempre lembrado como o pai do futebol, trazendo o esporte da Inglaterra em 1894. Mas a verdade é que o pessoal do Rio já andava chutando bola desde 1880, o que deixa historiadores em eterna discussão!
      </p>
      <img src="images/origen2.png" alt="Imagem Charles Miller" class="image">
    </div>
  </div>
  </div>
</div>
